<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>The mischievous Minions hope that Gru will return to a life of crime after the new boss of the Anti-Villain League fires him. Instead, Gru decides to remain retired and travel to Freedonia to meet his long-lost twin brother for the first time. The reunited siblings soon find themselves in an uneasy alliance to take down the elusive Balthazar Bratt, a former 1980s child star who seeks revenge against the world.
Initial release: June 14, 2017 (Philippines)
Directors: Pierre Coffin, Kyle Balda
Box office: 1.001 billion USD
Budget: 80 million USD</string>
		<key>info</key>
		<string>PG ‧ 2017 ‧ Science fiction film/Action ‧ 1h 36m</string>
		<key>title</key>
		<string>Despicable Me 3</string>
		<key>image</key>
		<string>MoviePosterImage13</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Best friends Ryan, Sasha, Lisa and Dina are in for the adventure of a lifetime when they travel to New Orleans for the annual Essence Festival. Along the way, they rekindle their sisterhood and rediscover their wild side by doing enough dancing, drinking, brawling and romancing to make the Big Easy blush.
Release date: July 21, 2017 (USA)
Director: Malcolm D. Lee
Box office: 127.4 million USD
Screenplay: Kenya Barris, Tracy Oliver
Production companies: Will Packer Productions, Perfect World Pictures</string>
		<key>info</key>
		<string>R ‧ 2017 ‧ Comedy ‧ 2h 2m</string>
		<key>title</key>
		<string>Girls Trip</string>
		<key>image</key>
		<string>MoviePosterImage12</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Hidden inside a smartphone, the bustling city of Textopolis is home to all emojis. Each emoji has only one facial expression, except for Gene, an exuberant emoji with multiple expressions. Determined to become &quot;normal&quot; like the other emojis, Gene enlists the help of his best friend Hi-5 and a notorious code breaker called Jailbreak. During their travels through the other apps, the three emojis discover a great danger that could threaten their phone&apos;s very existence.
Release date: July 28, 2017 (USA)
Director: Tony Leondis
Box office: 160.4 million USD
Budget: 50 million USD
Production company: Sony Pictures Animation</string>
		<key>info</key>
		<string>PG ‧ 2017 ‧ Science fiction film/Adventure ‧ 1h 31m</string>
		<key>title</key>
		<string>The Emoji Movie</string>
		<key>image</key>
		<string>MoviePosterImage11</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Thrilled by his experience with the Avengers, young Peter Parker returns home to live with his Aunt May. Under the watchful eye of mentor Tony Stark, Parker starts to embrace his newfound identity as Spider-Man. He also tries to return to his normal daily routine -- distracted by thoughts of proving himself to be more than just a friendly neighborhood superhero. Peter must soon put his powers to the test when the evil Vulture emerges to threaten everything that he holds dear.
Release date: July 7, 2017 (USA)
Director: Jon Watts
Box office: 748.4 million USD
Film series: Spider-Man: Homecoming film series
Budget: 175 million USD</string>
		<key>info</key>
		<string>PG-13 ‧ 2017 ‧ Fantasy/Science fiction film ‧ 2h 13m</string>
		<key>title</key>
		<string>Spider-Man: Homecoming</string>
		<key>image</key>
		<string>MoviePosterImage10</string>
	</dict>
	<dict>
		<key>description</key>
		<string>When Cold War veteran Stan Hurley takes CIA black ops recruit Mitch Rapp under his wing, they receive an assignment to investigate a wave of random attacks on both military and civilian targets. After discovering a pattern of violence, Hurley and Rapp join forces with a lethal Turkish agent to stop a mysterious operative who wants to start a global war.
Release date: September 15, 2017 (USA)
Director: Michael Cuesta
Adapted from: American Assassin
Story by: Vince Flynn
Screenplay: Stephen Schiff, Edward Zwick, Marshall Herskovitz, Michael Finch</string>
		<key>info</key>
		<string>R ‧ 2017 ‧ Thriller/Action ‧ 1h 51m</string>
		<key>title</key>
		<string>American Assassin</string>
		<key>image</key>
		<string>MoviePosterImage09</string>
	</dict>
	<dict>
		<key>description</key>
		<string>In May 1940, Germany advanced into France, trapping Allied troops on the beaches of Dunkirk. Under air and ground cover from British and French forces, troops were slowly and methodically evacuated from the beach using every serviceable naval and civilian vessel that could be found. At the end of this heroic mission, 330,000 French, British, Belgian and Dutch soldiers were safely evacuated.
Release date: July 21, 2017 (USA)
Director: Christopher Nolan
Box office: 475 million USD
Budget: 100 million USD
Music composed by: Hans Zimmer</string>
		<key>info</key>
		<string>PG-13 ‧ 2017 ‧ Drama film/Thriller ‧ 2 hours</string>
		<key>title</key>
		<string>Dunkirk</string>
		<key>image</key>
		<string>MoviePosterImage08</string>
	</dict>
	<dict>
		<key>description</key>
		<string>West Virginia family man Jimmy Logan teams up with his one-armed brother Clyde and sister Mellie to steal money from the Charlotte Motor Speedway in North Carolina. Jimmy also recruits demolition expert Joe Bang to help them break into the track&apos;s underground system. Complications arise when a mix-up forces the crew to pull off the heist during a popular NASCAR race while also trying to dodge a relentless FBI agent.
Release date: August 18, 2017 (USA)
Director: Steven Soderbergh
Screenplay: Rebecca Blunt
Music composed by: David Holmes
Producers: Channing Tatum, Gregory Jacobs, Reid Carolin, Mark Johnson</string>
		<key>info</key>
		<string>PG-13 ‧ 2017 ‧ Crime film/Drama film ‧ 1h 59m</string>
		<key>title</key>
		<string>Logan Lucky</string>
		<key>image</key>
		<string>MoviePosterImage07</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Best friends Félicie and Victor hatch a plan to escape from their rural orphanage in 19th-century France. Félicie dreams of becoming a ballerina, while Victor wants to use his brainpower to invent things. After busting out, Félicie makes her way to the Paris Opera where she joins a class of highly trained dancers who are auditioning for the lead in a production of &quot;The Nutcracker.&quot;
Release date: August 25, 2017 (USA)
Directors: Eric Summer, Éric Warin
Box office: 95.9 million USD</string>
		<key>info</key>
		<string>PG ‧ 2016 ‧ Adventure/Dance ‧ 1h 30m</string>
		<key>title</key>
		<string>Leap!</string>
		<key>image</key>
		<string>MoviePosterImage06</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Former toy maker Sam Mullins and his wife, Esther, are happy to welcome a nun and six orphaned girls into their California farmhouse. Years earlier, the couple&apos;s 7-year-old daughter Annabelle died in a tragic car accident. Terror soon strikes when one child sneaks into a forbidden room and finds a seemingly innocent doll that appears to have a life of its own.
Release date: August 11, 2017 (USA)
Artist: Benjamin Wallfisch
Director: David Sandberg
Box office: 267.3 million USD</string>
		<key>info</key>
		<string>R ‧ 2017 ‧ Mystery/Thriller ‧ 1h 49m</string>
		<key>title</key>
		<string>Annabelle: Creation</string>
		<key>image</key>
		<string>MoviePosterImage05</string>
	</dict>
	<dict>
		<key>description</key>
		<string>A couple&apos;s relationship is tested when uninvited guests arrive at their home, disrupting their tranquil existence. From filmmaker Darren Aronofsky (Black Swan, Requiem for a Dream), mother! stars Jennifer Lawrence, Javier Bardem, Ed Harris and Michelle Pfeiffer in this riveting psychological thriller about love, devotion and sacrifice.&apos;.
Release date: September 15, 2017 (USA)
Director: Darren Aronofsky
Screenplay: Darren Aronofsky
Cinematography: Matthew Libatique
Music composed by: Jóhann Jóhannsson, Clint Mansell</string>
		<key>info</key>
		<string>R ‧ 2017 ‧ Mystery/Drama film ‧ 2h 1m</string>
		<key>title</key>
		<string>mother!</string>
		<key>image</key>
		<string>MoviePosterImage04</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Cory Lambert is a wildlife officer who finds the body of an 18-year-old woman on an American Indian reservation in snowy Wyoming. When the autopsy reveals that she was raped, FBI agent Jane Banner arrives to investigate. Teaming up with Lambert as a guide, the duo soon find that their lives are in danger while trying to solve the mystery of the teen&apos;s death.
Release date: August 4, 2017 (USA)
Director: Taylor Sheridan
Screenplay: Taylor Sheridan
Box office: 25.3 million USD
Budget: 11 million USD</string>
		<key>info</key>
		<string>R ‧ 2017 ‧ Mystery/Crime film ‧ 1h 51m</string>
		<key>title</key>
		<string>Wind River</string>
		<key>image</key>
		<string>MoviePosterImage03</string>
	</dict>
	<dict>
		<key>description</key>
		<string>The world&apos;s top protection agent is called upon to guard the life of his mortal enemy, one of the world&apos;s most notorious hit men. The relentless bodyguard and manipulative assassin have been on the opposite end of the bullet for years and are thrown together for a wildly outrageous 24 hours. During their journey from England to the Hague, they encounter high-speed car chases, outlandish boat escapades and a merciless Eastern European dictator who is out for blood.
Release date: August 18, 2017 (USA)
Director: Patrick Hughes
Production company: Nu Image
Screenplay: Tom O&apos;Connor
Music composed by: Atli Örvarsson</string>
		<key>info</key>
		<string>R ‧ 2017 ‧ Action/Adventure ‧ 1h 58m</string>
		<key>title</key>
		<string>The Hitman&apos;s Bodyguard</string>
		<key>image</key>
		<string>MoviePosterImage02</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Recently separated from her husband, Alice Kinney decides to start over by moving back to Los Angeles with her two daughters. While celebrating her 40th birthday, Alice meets Harry, George and Teddy, three young filmmakers who need a place to live. Complications soon arise when she agrees to let the men stay in her guesthouse temporarily. As Alice develops a budding romance with Harry, her newfound happiness comes crashing down when her ex shows up with a suitcase in his hand.
Release date: September 8, 2017 (USA)
Director: Hallie Meyers-Shyer
Screenplay: Hallie Meyers-Shyer
Music composed by: John Debney
Distributed by: Open Road Films</string>
		<key>info</key>
		<string>PG-13 ‧ 2017 ‧ Drama film/Romance ‧ 2 hours</string>
		<key>title</key>
		<string>Home Again</string>
		<key>image</key>
		<string>MoviePosterImage01</string>
	</dict>
	<dict>
		<key>description</key>
		<string>Seven young outcasts in Derry, Maine, are about to face their worst nightmare -- an ancient, shape-shifting evil that emerges from the sewer every 27 years to prey on the town&apos;s children. Banding together over the course of one horrifying summer, the friends must overcome their own personal fears to battle the murderous, bloodthirsty clown known as Pennywise.
Release date: September 8, 2017 (USA)
Director: Andrés Muschietti
Budget: 35 million USD
Producers: Seth Grahame-Smith, Barbara Muschietti, Dan Lin, Roy Lee, David Katzenberg</string>
		<key>info</key>
		<string>R ‧ 2017 ‧ Drama film/Thriller ‧ 2h 15m</string>
		<key>title</key>
		<string>IT</string>
		<key>image</key>
		<string>MoviePosterImage00</string>
	</dict>
</array>
</plist>
