<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>Seven young outcasts in Derry, Maine, are about to face their worst nightmare -- an ancient, shape-shifting evil that emerges from the sewer every 27 years to prey on the town&apos;s children. Banding together over the course of one horrifying summer, the friends must overcome their own personal fears to battle the murderous, bloodthirsty clown known as Pennywise.
Release date: September 8, 2017 (USA)
Director: Andrés Muschietti
Budget: 35 million USD
Producers: Seth Grahame-Smith, Barbara Muschietti, Dan Lin, Roy Lee, David Katzenberg</string>
		<key>info</key>
		<string>R ‧ 2017 ‧ Drama film/Thriller ‧ 2h 15m</string>
		<key>title</key>
		<string>IT</string>
		<key>image</key>
		<string>MoviePosterImage00</string>
	</dict>
</array>
</plist>
